.circleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;

  width: 50px;
  height: 50px;

  /* danger-color */

  background: #e74040;
  /* accentued-drop-shadow */

  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 200px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  color: #ffff;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

  margin-bottom: 20px;
  margin-top: 35px;
}

.FeatureCardHeader {
  height: 120px;
  width: 157px;
  left: 40px;
  top: 101px;
  border-radius: null px;

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  /* color: #ffffff; */

  margin-bottom: 20px;
}
.FeatureCardSubtitle {
  height: 48px;
  width: 136px;
  left: 40px;
  top: 263px;
  border-radius: null px;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  margin-bottom: 20px;
  margin-bottom: 35px;
}

.lineStyle {
  margin-bottom: 20px;
}

.featureCard {
  cursor: pointer;
  padding: 5%;
  /* max-width: 18rem; */
  border-radius: 0px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .featureCard {
    display: flex;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .featureCard {
    display: flex;
    margin: auto;
  }
}
