.headerContainer > h1 {
  font-family: Oswald;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .headerContainer > h1 {
    font-size: 49px;
    text-align: center;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 768px) {
  .headerContainer > h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
  }
}
