.tab-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.simple-tab-active {
  color: #8ec2f2;
}

.custom-tabs {
  border: 0px;
  background-color: #fff;
}

.custom-tab-link {
  color: #737373;
  border: none;
  border-radius: 0px;
  padding: 10px;
  margin-right: 10px;
  /* font-weight: bold;
  transition: all 0.2s ease-in-out; */
}

.custom-tab-link.active,
.custom-tab-link:hover {
  /* background-color: #fff; */
  color: #8ec2f2;
  border-bottom: 3px solid #8ec2f2;
}

.custom-tab-content {
  border: 0px;
  padding: 20px;
}

.tabsContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
