@font-face {
  font-family: Oswald;
  src: url(../public/webfonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../public/webfonts/Raleway/static/Raleway-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../public/webfonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* .App {
  text-align: center;
} */

.navContainer {
  z-index: 1;
}
