@font-face {
  font-family: Oswald;
  src: url(../public/webfonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../public/webfonts/Raleway/static/Raleway-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../public/webfonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* .App {
  text-align: center;
} */

.navContainer {
  z-index: 1;
}

.heroSectionContainer {
  position: relative;
}

.navbarAppContainer {
  position: absolute;
  top: 0%;
  z-index: 9;
  width: 100%;
}

@media screen  and (max-width:600px){
  .navbarAppContainer {
  position: relative;
  top: 0%;
  width: 100%;
  z-index: 1;
}
}
