.brandSection {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292f36;
  margin-right: 0% !important;
}
.brandTitle {
  padding-left: 10px;

  font-family: Oswald;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #ffffff;
}

.navbar-brand {
  /* margin-right: 137.5px; */
}
.navbarContainer {
  display: flex;
  justify-content: space-around;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandTitle:hover {
  color: #e7064a !important;
}

.navbarContainerSmallScreen {
  padding-top: 29px;
  padding-bottom: 29px;
}

.navbar-toggler-icon {
  background-image: url("../../../public/assets/Vector.svg"); /* replace "path/to/your/custom/icon.svg" with the path to your custom icon file */
  width: 1em; /* set the width and height to match the size of your icon */
  height: 1em;
  background-repeat: no-repeat; /* prevent the icon from repeating */
  background-size: contain; /* scale the icon to fit the button */
  background-position: center; /* center the icon within the button */
  /*border: none;  remove the border */
  border-style: none; /* remove the border */
}
.navbar-toggler {
  border-style: none; /* remove the border */
}

@media screen and (max-width: 600px) {
  .iconsContainer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .classReverse{
        display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .navbarContainer {
    background-color: #252b42;
    padding-top: 0% !important;
    display: flex;
    justify-content: inherit;
  }
  .navbarContainerSmallScreen {
    padding: 0% !important;
    flex-direction: column;
    /* position: relative; */
  }
  .navbarAppContainer {
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: #252b42;
  }
}

@media screen and (max-width: 768px) {
  .iconsContainer {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
    .classReverse{
        display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .navbarContainer {
    background-color: #252b42;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
  }
  .navbarContainerSmallScreen {
    padding: 0% !important;
    flex-direction: column;
  }
  .navbarAppContainer {
    /* padding-top: 29px;
    padding-bottom: 29px; */
    background-color: #252b42;
  }
}
