.featureCardsContainer{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 112px;
}


@media screen  and (max-width:600px){
    .featureCardsContainer{
        display: flex;
        margin: auto;
        margin-top: 80px;
    }
    
}
@media screen  and (max-width:768px){
    .featureCardsContainer{
        display: flex;
        margin: auto;
        margin-top: 80px;
    }
    
}